template(name='catering')
    .ui.stackable.padded.grid 
        .sixteen.wide.column
            .ui.header catering
            +page key='mission'
    
template(name='admin')
    .ui.header admin
    .ui.header pages 


template(name='mission')    
    .ui.stackable.padded.grid 
        .sixteen.wide.column
            +page key='mission'
            // .ui.header Our mission is to bridge the gap between the rising demand for authentic, ethnic cuisine and the lack of minority-owned food businesses. Food Bridge believes in partnering with highly talented and motivated entrepreneurs who are already passionate chefs. They have everything it takes to run successful businesses doing what they love. In Denver's booming food scene, there are many opportunities, but there are also inherent challenges that affect low-income and non-native English speakers disproportionately. They just need a low-risk, low-capital investment period in which to get started. Our mission is to empower our partnering entrepreneurs by providing them the knowledge and experience to overcome these obstacles and build a successful foundation for their businesses. 


template(name='page')
    with page_doc 
        .ui.center.aligned.header 
            |#{title}
        |!{content}
        if currentUser.admin_mode
            +text_edit key='title' direct=true
            +html_edit key='content' direct=true
    else 
        if currentUser.admin_mode
            .ui.red.button.create_doc 
                |create doc with key: #{key}
            
template(name='doc')
    with content 
        |!{content}
    if currentUser 
        .ui.icon.button.edit_doc
            i.large.edit.icon